.about
  .about-image
    width: 150px
    -webkit-border-radius: 50% 
    border-radius: 50% 
  .social-list
    margin: 0
    padding: 0
    list-style: none
  .social-list-item
    display: inline-block
    margin-right: 10px
  .skill-list,.study-list
    margin: 0
    padding: 0
    list-style-type: none
  .green
    color: $green
  .checkbox
    position: relative
    display: inline-block
    width: 14px
    height: 11px  
    .icon-check-empty
      position: absolute
      top: 0
      left: 0
    .icon-ok
      position: absolute
      top: 0
      left: 1.4px
      color: $accent-color 
      font-size: 11.5px
  h3,.study-list
    color: $gray 