.menu-box
  %a.heading{:href => "/"}
    camuro
  %nav
    %ul.menu.cl-effect-5
      %li.menu-item
        %a{:href => "/"}
          %span{"data-hover" => "Home"}Home
      %li.menu-item
        %a{:href => "/about.html"}
          %span{"data-hover" => "About"}About
      %li.menu-item
        %a{:href => "/works.html"}
          %span{"data-hover" => "Works"}Works
      %li.menu-item
        %a{:href => "/blog.html"}
          %span{"data-hover" => "Blog"}Blog