---
title:     WORKS | CAMURO
bodyclass: works
---

%h2.content-subhead Recent Works
%ul.works-list.pure-g-r
  - data.works.each do |member|
    %li.pure-u-1-4.member<>
      %a{:href => member.url}
        .works-item
          .image
            %img{ src: "images/works/#{member.image}", alt: '#{member.alt}' }
          .text
            %p.client
              = member.client
            %p.info
              = [*member.info].join(',<br/>')


